/* =====GLOBAL====== */

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
  }

  .vertcontainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  .rowcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
  }

/* =====HEADER & NAV====== */

  header {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3.125rem;
    z-index: 1;
    text-align: center;
  }
  
  nav a li {
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.081rem;
    display: inline-block;
    width: 6.25rem;
  }

  nav a:hover li {
    color: hsla(0,0%,100%,0.6);
  }
  
  nav a:active li {
    color: hsla(0,0%,100%,0.3);
  }

.mobile {
    display: none;
  }

/* HEADER & NAV MEDIA QUERIES */

 @media only screen and (max-width: 895px) {
    html {
      font-size: 14px;
    } 
  }

/* MOBILE HEADER & NAV */

  @media only screen and (max-width: 425px) {
    .desktop {
      display: none;
    }
    .mobile {
      display: block;
    }
    div.mobile.dropdown {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      flex-wrap: nowrap;
    }
    h1.mobile {
      display: block;
      width: fit-content;
      margin: 0;
      color: #fff;
      font-weight: 800;
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: 700;
      padding-left: 1rem;
    }
    .dropdown {
      display: block;
      position: relative;
      height: 3rem;
      width: auto;
      cursor: pointer;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      top: 3rem;
      right: 0;
      text-align: right;
      background-color: #f9f9f9;
      width: 6.25rem;
      height: auto;
      padding: .5rem;
      z-index: 2;
    }
    .dropdown-content a {
      text-decoration: none;
      color: #333;
      line-height: 1.5rem;
      width: 100%;
      padding: .25rem 1rem;
    }
   .dropdown:hover .dropdown-content {
      display: block;
    }
    .dropdown-content a:hover {
      background-color: #fff;
      color: #333;
      font-weight: 700;
    }
  }

/* COVER PHOTO HEADER */
  main {
    text-align: center;
    position: relative;
    top: 3.125rem;
  }
  
  main h1 {
    color: #333;
    background-color: hsla(0,0%,100%,0.6);
    font-weight: 800;
    font-size: 4.375rem;
    margin: 1.25rem;
    text-transform: uppercase;
    width: 100%;
  }
  
  .jumbotron {
    flex-basis: 100%;
    background-image: url("./resources/whiteandnavycabinets.jpg");
    background-size: 85%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-color: hsl(0,0%,96%);
    padding: 3.125rem 0;
  }

  .btn-main {
    background-color: #333;
    color: #fff;
    border: 2px solid #333; 
    border-radius: 5px; 
    padding: .938rem 1.25rem;
    margin: 1.25rem;
    font-weight: 500;
    font-size: 1.25rem;
    letter-spacing: 0.094rem;
    text-decoration: none;
    text-transform: uppercase;
  }

  .btn-main:hover {
    background-color: #fff;
    color: #333;
  }

  .btn-main:active {
    background-color: hsl(0,0%,90%);
    color: #333;
  }

  @media only screen and (max-width: 810px) {
    .jumbotron {
      background-size: 100%;
    }
  }

  @media only screen and (max-width: 700px) {
    .jumbotron {
      padding: 1rem 0;
    }
  }

  @media only screen and (max-width: 600px) {
    .jumbotron {
      padding: 1.4rem 0;
    }

    main h1 {
      color: #333;
      font-size: 3rem;
      margin: 0.75rem;
      text-transform: uppercase;
    }

    .btn-main {
      padding: .45rem 0.75rem;
      margin: 0.75rem;
      font-size: 0.75rem;
      letter-spacing: 0.094rem;
    }
  }

  @media only screen and (max-width: 425px) {
    .jumbotron h1 {
      display: none;
    }
    .jumbotron {
      padding: 3rem 0;
    }
    .btn-main {
      padding: .75rem 1rem;
      font-size: 1.25rem;
      background-color: #fff;
      color: #333;
      font-weight: 600;
    }
    .btn-main:hover {
      background-color: #333;
      color: #fff;
    }
  
    .btn-main:active {
      background-color: #333;
      color: hsl(0,0%,90%);
    }
  }
  
  /* SUPPORTING SECTION */

  section {
    position: relative;
    top: 3.125rem;
    padding: 1.875rem 10%;
  }

  .rowcontainer .item {
    flex: 1 1 25%;
    text-align: center;
    padding: 0 1.25rem;
    overflow: hidden;
  }
  
  .item img {
    max-width: 70%;
    max-height: 225px;
    height: auto;
    display: block; 
    aspect-ratio: 1 / 1;
    padding: 0.625rem 0;
  }
  
  .item h2 {
    display: flex;
    align-items: center;
    margin: 0;
    height: 3.5rem;
    font-weight: 600;
    font-size: 1.438rem;
    text-transform: uppercase;
  }
  
  .item p {
    display: flex;
    align-items: center;
    margin: 0;
    height: auto;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0 2rem;
  }
  
  .item a {
    display: block;
    width: 50%;
    background-color: #333;
    color: #fff;
    padding: 0.625rem;
    margin: 0.625rem auto;
    border: 2px solid #333;
    border-radius: 5px; 
    font-weight: 500;
    font-size: 0.875rem;
    letter-spacing: 0.081rem;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .item a:hover {
    background-color: #fff;
    color: #333;
  }

  .item a:active {
    background-color: hsl(0,0%,90%);
    color: #333;
  }

  @media only screen and (max-width: 895px) {
    .rowcontainer .item {
      flex: 1 1 35%;
    }
  }

  @media only screen and (max-width: 535px) {
    section {
      padding: 1.875rem 5%;
    }
    .item p {
      padding: 0 1rem;
    }
  }

  @media only screen and (max-width: 425px) {
    section.rowcontainer {
      flex-direction: column;
    }
    .item h2 {
      height: 2rem;
    }
    .item p {
      padding: 0 2rem;
      height: 3.5rem;
    }
  }

  /* FOOTER */ 
  footer {
    background-color: #333;
    position: relative;
    top: 3.125rem;
    height: 3.125rem;
    font-size: 0.875rem;
    font-weight: 500;
  }

  footer.rowcontainer {
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
  }

  footer li {
    color: #fff;
    display: inline-block;

  }

  footer li a {
    color: #fff;
    text-decoration: none;
  }

  footer li a:hover {
    color: hsla(0,0%,100%,0.6);
  }
  
  footer li a:active {
    color: hsla(0,0%,100%,0.3);
  }

  footer li::after {
    content: " - ";
    padding: 0 1.875rem;
  }

  footer li:last-of-type::after {
    content: none;
  }

  @media only screen and (max-width: 675px) {
    footer li:first-of-type {
      display: none;
    }
    footer.rowcontainer {
      justify-content: center;
    }
    ul {
      padding-inline-start: 0;
    }
    
  }

  /* ====ABOUT PAGE===== */

  .jumbotron.aboutpage {
    background-image: url("./resources/denver.jpg");
  }

  .rowcontainer.aboutpage {
    align-items: stretch;
  }

  .aboutpage .item.images {
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-basis: 60%;
  }

  .aboutpage .item.images img {
    padding: 1rem;
    max-height: 20rem;
    max-width: 20rem;
    flex-basis: 20rem;
    aspect-ratio: 1/1;
  }

  .aboutpage .item p {
    height: auto;
    padding: .5rem 2rem;
  }
  
  section.reviews {
    justify-content: center;
    width: 100%;
    padding: 1rem 0 1.875rem 0;
  }

  .rowcontainer.reviews {
    width: 100%;
  }

  .reviews a {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: fit-content;
    }


  /* ====GALLERY PAGE===== */

  .gallery {
    width: 100%;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .jumbotron.gallerypage {
    background-image: url("./resources/replace.jpeg")
  }

    /* ====CONTACT PAGE ===== */

  .jumbotron.contactpage {
    background-image: url("./resources/kitchen.jpg")
  }


  .rowcontainer.contactpage {
    align-items: stretch;
    justify-content: center;
  }

  .item.contactpage {

  }

  .contactpage .item {
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-basis: 20%;
  }

  .contactpage .item.images img {
    padding: 1rem;
    max-height: 20rem;
    max-width: 20rem;
    flex-basis: 20rem;
    aspect-ratio: 1/1;
  }

  .contactpage .item p {
    height: auto;
    padding: .5rem 2rem;
  }

  .contactpage li {
    list-style-type: none;
  }

  .contactpage a {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 65%;
  }

  img.icon {
  height: 2rem;
  padding: .5rem 1rem .5rem .5rem;
  }