html, body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
  }


/* HEADER & NAV */
  header {
    background-color: #333;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
  }
  
  nav {
    margin: 0;
    padding: 20px 0;
    text-align: center;
  }
  
  nav a li {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1.3px;
    display: inline-block;
    width: 100px;
  }

  nav a:hover li {
    color: hsla(0,0%,100%,0.6);
  }
  
  nav a:active li {
    color: hsla(0,0%,100%,0.3);
  }

/* COVER PHOTO HEADER */
  main {
    text-align: center;
    position: relative;
    top: 0px;
  }
  
  main h1 {
    color: #333;
    background-color: hsla(0,0%,100%,0.6);
    font-weight: 800;
    font-size: 70px;
    margin-top: 80px;
    margin-bottom: 80px;
    text-transform: uppercase;
  }
  
  .jumbotron {
    height: 650px;
    background-image: url("./resources/brownkitchen.jpeg");
    background-size: 85%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: hsl(0,0%,96%);
  }
  
  .btn-main {
    background-color: #333;
    color: #fff;
    border: 2px solid #333; 
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1.5px;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px; 
  }

  .btn-main:hover {
    background-color: #fff;
    color: #333;
  }

  .btn-main:active {
    background-color: hsl(0,0%,90%);
    color: #333;
  }
  
  /* SUPPORTING SECTION */
  .container {
    text-align: center;
    display: block;
    padding: 20px 0px;
  }

  .supporting {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .supporting .col {
    text-align: center;
    display: inline-block;
    position: relative;
    top: 0px;
    width: 225px;
    margin: 0 40px;
    padding: 20px 0;
  }
  
  .supporting img {
    height: 200px;
  }
  
  .supporting h2 {
    font-weight: 600;
    font-size: 23px;
    text-transform: uppercase;
  }
  
  .supporting p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 0 20px;
    margin-bottom: 20px;
  }
  
  .supporting a {
    display: block;
    width: 60%;
    background-color: #333;
    color: #fff;
    border: 2px solid #333; 
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1.3px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    margin: 5px auto;
    border-radius: 5px;
  }
  
  .supporting a:hover {
    background-color: #fff;
    color: #333;
  }

  .supporting a:active {
    background-color: hsl(0,0%,90%);
    color: #333;
  }

  /* FOOTER */ 
  footer {
    background-color: #333;
    color: #fff;
  }
  
  footer p {
    text-transform: uppercase;
    font-size: 12px;
  }